<!--
/**
 * Copyright © Alekseon sp. z o.o.
 * http://www.alekseon.com/
 */
-->
<form data-bind="id: formId, submit:submitForm"
      autocomplete="off"
      afterRender="onElementRender">
    <input type="hidden" name="hideit" />
    <!-- ko foreach: { data: tabs, as: 'tab'} -->

        <div data-bind="visible: tab.visible, css: 'form-tab-' + tab.index">
            <fieldset class="fieldset">
                <!-- ko if: $parent.title -->
                <legend class="legend">
                    <span data-bind="html: $parent.title" />
                </legend>
                <!--/ko-->

                <!-- ko if: $parent.description -->
                <div class="field note no-label" data-bind="html: $parent.description"></div>
                <!--/ko-->

                <!-- ko foreach: { data: tab.fields, as: 'field'} -->
                    <div class="field" data-bind="html: field.html"></div>
                <!-- /ko -->

                <!-- ko if: tab.is_last -->
                    <!-- ko foreach: $parent.elems() -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                <!--/ko-->

            </fieldset>
            <div class="actions-toolbar" data-bind="html: $parent.actionToolbarHtml">test</div>
        </div>
    <!-- /ko -->

</form>
