<!--
/**
 * Copyright © Alekseon sp. z o.o.
 * http://www.alekseon.com/
 */
-->
<form data-bind="id: formId, submit:submitForm"
      data-mage-init='{"validation":{}}'
      autocomplete="off">

    <input type="hidden" name="hideit" />
    <input type="hidden" name="form_key" data-bind="value: formKey"  />

    <fieldset class="fieldset">
        <!-- ko if: title -->
            <legend class="legend">
                <span data-bind="text: title" />
            </legend>
        <!--/ko-->

        <!-- ko if: description -->
            <div class="field note no-label" data-bind="text: description" />
        <!--/ko-->

        <fieldset class="fieldset" data-bind="html: formFieldsetHtml" />

        <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </fieldset>

    <div class="actions-toolbar" data-bind="html: actionToolbarHtml" />
</form>
