<?xml version="1.0"?>
<!--
/**
 * Copyright © Alekseon sp. z o.o.
 * http://www.alekseon.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Alekseon\AlekseonEav\Model\Attribute\DefaultValueProviderRepository">
        <arguments>
            <argument name="defaultValueProviders" xsi:type="array">
                <item name="current_product" xsi:type="array">
                    <item name="label" xsi:type="string">Current Product SKU</item>
                    <item name="factory" xsi:type="object">Alekseon\WidgetForms\Model\Attribute\DefaultValueProvider\CurrentProductFactory</item>
                    <item name="applicable_frontend_inputs" xsi:type="array">
                        <item name="text" xsi:type="string">text</item>
                    </item>
                </item>
                <item name="current_cms_page" xsi:type="array">
                    <item name="label" xsi:type="string">Current Cms Page Identifier</item>
                    <item name="factory" xsi:type="object">Alekseon\WidgetForms\Model\Attribute\DefaultValueProvider\CurrentCmsPageFactory</item>
                    <item name="applicable_frontend_inputs" xsi:type="array">
                        <item name="text" xsi:type="string">text</item>
                    </item>
                </item>
                <item name="customer_email" xsi:type="array">
                    <item name="label" xsi:type="string">Customer Email</item>
                    <item name="factory" xsi:type="object">Alekseon\WidgetForms\Model\Attribute\DefaultValueProvider\CustomerEmailFactory</item>
                    <item name="applicable_frontend_inputs" xsi:type="array">
                        <item name="text" xsi:type="string">text</item>
                    </item>
                </item>
                <item name="default_text" xsi:type="array">
                    <item name="label" xsi:type="string">Default Text</item>
                    <item name="factory" xsi:type="object">Alekseon\WidgetForms\Model\Attribute\DefaultValueProvider\DefaultTextFactory</item>
                    <item name="applicable_frontend_inputs" xsi:type="array">
                        <item name="textarea" xsi:type="string">textarea</item>
                        <item name="text" xsi:type="string">text</item>
                    </item>
                    <item name="input_params" xsi:type="array">
                        <item name="defaultText" xsi:type="array">
                            <item name="label" xsi:type="string">Default Value</item>
                        </item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Alekseon\AlekseonEav\Model\Attribute\InputTypeRepository">
        <arguments>
            <argument name="frontendInputTypes" xsi:type="array">
                <item name="text" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Text</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\Text</item>
                        </item>
                        <item name="hidden" xsi:type="array">
                            <item name="label" xsi:type="string">Hidden</item>
                            <item name="template" xsi:type="string">Alekseon_WidgetForms::form/field/hidden.phtml</item>
                        </item>
                        <item name="hidden_if_has_default_value" xsi:type="array">
                            <item name="label" xsi:type="string">Hidden If Has Default Value</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\TextHiddenIfHasDefaultValue</item>
                            <item name="hidden_template" xsi:type="string">Alekseon_WidgetForms::form/field/hidden.phtml</item>
                        </item>
                    </item>
                </item>
                <item name="date" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Date</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\Date</item>
                        </item>
                    </item>
                </item>
                <item name="textarea" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Textarea</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\Textarea</item>
                        </item>
                    </item>
                </item>
                <item name="boolean" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Select</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\Select</item>
                        </item>
                        <item name="radio" xsi:type="array">
                            <item name="label" xsi:type="string">Radio</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\RadioButtons</item>
                        </item>
                        <item name="checkbox" xsi:type="array">
                            <item name="label" xsi:type="string">Checkbox</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\Checkbox</item>
                        </item>
                    </item>
                </item>
                <item name="select" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Select</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\Select</item>
                        </item>
                        <item name="radio" xsi:type="array">
                            <item name="label" xsi:type="string">Radio</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\RadioButtons</item>
                        </item>
                    </item>
                </item>
                <item name="multiselect" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Multiselect</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\Multiselect</item>
                        </item>
                        <item name="checkbox" xsi:type="array">
                            <item name="label" xsi:type="string">Checkbox Horizontal</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\Checkbox</item>
                        </item>
                        <item name="checkbox_v" xsi:type="array">
                            <item name="label" xsi:type="string">Checkbox Vertical</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\Checkbox</item>
                            <item name="template" xsi:type="string">Alekseon_WidgetForms::form/field/checkbox_vertical.phtml</item>
                        </item>
                    </item>
                </item>
                <item name="image" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Image</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\Image</item>
                        </item>
                    </item>
                </item>
                <item name="rating" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Rating</item>
                            <item name="class" xsi:type="string">Alekseon\WidgetForms\Block\Form\Field\Rating</item>
                        </item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
